@charset "UTF-8";

@import "../component/carousel";


.m-details {
   width: 100%;
   height: 100%;
   @include flexbox();
   @include flex-direction(column);

   .yo-scroller-a{
     @include flex();
     section{
         width: 100%!important;
         height: 100%;

        .m-banner {
            height: 3.75rem;
            width: 100%;
            position: relative;
            >.page{
                width: .34rem;
                height: .17rem;
                line-height: .17rem;
                background: #bfbfbf;
                border-radius: .1rem;
                color: #fff;
                text-align: center;
                position: absolute;
                bottom: 3%;
                right: 3%;
            }
            .yo-carousel-a {
                height: 100%;
                width: 100%;
            ul.cont{
                width: 100%;
                      height: 100%;
                li{
                    width: 100%;
                      height: 100%;
                    img {
                      width: 100%;
                      height: 100%;
                    }

                }
              }
            }
        }
          .m-title{
          width: 100%;
          height: 1.25rem;
          background: #fff;
          padding: .18rem .19rem .12rem .13rem;
          margin-bottom: .13rem;
          @include flexbox();
          @include flex-direction(column);
          justify-content: space-between;
          .name{
              @include flexbox();
              justify-content: space-between;
              .left{

                  h3{
                      height: .18rem;
                      line-height: .18rem;
                      font-size: .18rem;
                      color: #232323;
                  }

                  p{
                      height: .12rem;
                      font-size: .12rem;
                      margin-top: .14rem;
                  }
              }
              .right{
                  height: .40rem;
                  padding-left: .18rem;
                  font-size: .12rem;
                  color: #737373;
                  @include flexbox();
                  @include flex-direction(column);
                  justify-content: space-around;
                  text-align: center;
                  @include border(0 0 0 1px, #dcdcdc);
                  i{
                      font-size: .17rem;
                      padding-bottom: .05rem;
                  }
              }
          }
          .price{
              @include flexbox();
              justify-content: space-between;
              b{
                  font-size: .18rem;
                  color: #ff3333;
              }
              span{
                  font-size: .12rem;
                  color: #242424;
              }
          }
        }
        .m-serve{
            width: 100%;
            height: .44rem;
            background: #fff;
            padding: 0 .12rem;
            margin-top: .13rem;
            line-height: .44rem;
            font-size: .12rem;
            color: #7b7b7b;
            @include flexbox();
            justify-content: space-between;
            >div{

                span{
                       padding-right: .15rem;
                    i{
                        color: #89529e;
                        padding-right: .05rem;

                    }

                }
            }
            em{
                font-size: .14rem;
                color: #7e7e7e;
              }


        }
        .m-select{
            width: 100%;
            height: .44rem;
            background: #fff;
            padding: 0 .12rem;
            margin-top: .13rem;
            line-height: .44rem;
            @include flexbox();
            justify-content: space-between;
            h3{
              font-size: .14rem;
               color: #292929;


            }

        }
        .m-rate{
            width: 100%;
            height: .44rem;
            background: #fff;
            padding: 0 .12rem;
            margin-top: .13rem;
            line-height: .44rem;
            @include flexbox();
            justify-content: space-between;
            p{
              font-size: .15rem;
               color: #242424;

               span{
                   font-weight: normal;
                   color: #969696;
               }
            }
        }
    }

}
    .m-footer {
        height: .48rem;
        background: #fff;
        width: 100%;
        @include border(1px 0 0 0, #dadada);
        >div {
            width: 100%;
            height: 100%;
            @include flexbox();
            >a {
                height: 100%;
                width: 100%;
                @include flex();
                @include flexbox();
                text-align: center;
                &.car{
                    font-size: .12rem;
                    color: #8a8a8a;
                    @include border(0 1px 0 0, #dadada);
                    span{
                        display: block;
                        height: 100%;
                        width: 100%;
                        @include flex();
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(center);
                        &.carnum{
                            @include border(0 0 0 1px, #dadada);
                            position: relative;

                            .num{
                                display: block;
                                position: absolute;
                                width: .13rem;
                                height: .13rem;
                                line-height: .12rem;
                                font-size: .12rem;
                                text-align: center;
                                background: #ff3333;
                                color: #fff;
                                border-radius:50% ;
                                top: 8%;
                                right: 23%;
                            }

                        }
                        i{
                            display: block;
                            @include flex();
                            height: 100%;
                            width: 100%;
                            color: #8a8a8a;
                            font-size: .20rem;
                            height: .20rem;
                        }
                        b{
                            display: block;
                            @include flex();
                            height: 100%;
                            width: 100%;
                            font-size: .12rem;
                            height: .12rem;
                            padding-top: .05rem;
                            color: #8a8a8a;
                            font-weight: normal;
                        }

                    }
                }
                &.addcar {
                    font-size: .18rem;
                    color: #7c3f92;
                    @include flex-direction(column);
                    @include justify-content(center);
                }
                &.buynow {
                    font-size: .18rem;
                    background: #7c3f92;
                    color: #fff;
                    @include flex-direction(column);
                    @include justify-content(center);
                }

            }
        }
    }
}
