.m-index {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  .m-board {
    overflow-y:scroll;
    width: 100%;
    height: 100%;
    
    .yo-scroller-a{
      @include flexbox();
      @include flex-direction(column);

    }
  }
}
