@charset "UTF-8";

@font-face {
  font-family: 'yofont';
  src: url('/iconfont/iconfont-3.woff') format('woff'),
  url('/iconfont/iconfont-3.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/iconfont/iconfont-1.woff') format('woff'),
  url('/iconfont/iconfont-1.ttf') format('truetype')
}

.m-registor{
     @include flexbox();
     @include flex-direction(column);
     width: 100%;
     height: 100%;
     background: #eee;
     .top{
        height: .5rem;
        b{
          font-size: .25rem;
          line-height: .5rem;
          margin-left: .05rem;
        }
        
    }
    .ban{
        height: 1.14rem;
        display:flex;  
        align-items:center;
        justify-content:center;
        img{
            width: .58rem;
        }
    }
    .write{
        width: 100%;
        margin-top:.49rem ;
        ul{
            width: 90%;
            margin: 0 auto;
            li{ 
                @include flexbox();
                height: .49rem;
                border-bottom: 1px solid #c9c9c9;
                input{
                    border: none;
                    height: .21rem;
                    margin-top: .14rem;
                    background: #eee;
                }
                span{
                @include flex(); 
                }
                b{
                    width: 1.04rem;
                    height: .33rem;
                    border: 1px solid #7e4395;
                    text-align: center;
                    line-height: .33rem;
                    color: #7e4395;
                    margin-top: .08rem;
                }
                i{
                    font-size: .21rem;
                    margin-top: .1rem;
                    color:#c9c9c9;
                }
            }
        }
    }
    .bttn{
        width: 100%;
        margin-top: .22rem;
        input{
            width: 90%;
            display: block;
            height: .51rem;
            background:#7e4395;
            border: 0;
            @include border-radius(.25rem);
            margin: 0 auto;
            font-size: .22rem;
            color: #fff;
        }
        span{
            display: block;
            width: 90%;
            font-size: .14rem;
            padding-top: .22rem;
            margin:0 auto ;
            color:#7e4395;
         }   
    }    
}    